{% extends "footer_header.html" %}
{% block main %}
<div style="padding: 0 20%;">
    <div class="projets_and_articles_header">
        <h1 class="big_h1">Articles!</h1>
        <a href="{{ url_for('creation_article') }}"><button>Publier mon article!</button></a>
    </div>
    {% for articles in liste_articles %}
    <article>
        <h2><u><a href="{{ url_for('articles', slug=articles.slug) }}">{{articles.titre}}</a></u></h2>
        <div>
            <p>{{ articles.contenu }}</p>
            <span>{{articles.date.date()}}</span>
        </div>
    </article>
    {% endfor %}
</div>
{% endblock %}