<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jinja</title>
</head>
<body>
    <h1>jinja</h1>
    {{name.upper()}}
    {% if false %}
        {{name}}
    {% endif %}
    {% if show %}
        {{name}}
    {% endif %}

    <ul>
        {% for user in users %}
        <li> {{ user }} </li>
        {% endfor %}
    </ul>

    {# COMMENTAIRE NON-VISIBLE DANS LE CODE SOURCE SUR LE SITEWEB (F12) #}
</body>
</html>