{% extends "footer_header.html" %}
{% block main %}
<div class="need_padding">
    <form class="form" method="post" action="{{ url_for('add_celeb') }}">
        <div class="form_div">
            <h1>creation d'articles</h1>
            <input id="nom" type="text" name="nom" placeholder="nom: ex. Ochako" required>
            <input id="prenom" type="text" name="prenom" placeholder="prenom: ex. Uraraka" required>
            <input id="age" type="text" name="age" placeholder="age: ex. 27" required>
            <input id="profession" type="text" name="profession" placeholder="profession: ex. Hero" required>
            <input id="taille" type="text" name="taille" placeholder="taille: ex. 1.62" required>
            <input id="Description" type="text" name="Description" placeholder="description:" required>
        </div>
        <div class="projets_and_articles_header">
            <button type="submit">Upload la celebrity!</button>
        </div>
    </form>
</div>
{% endblock %}