<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>le titre tout en haut dans l'onglet!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/style.js') }}"></script>
</head>

<body>
    <header>
        <nav>
            <div>
                <button><a href="">Contactez Moi</a></button>
                <div>
                    <a href="{{ url_for('home') }}">Home</a>
                    {% if current_user.is_authenticated %}
                    <a href="{{ url_for('user') }}">Profil</a>
                    {% else %}
                    <a href="{{ url_for('login') }}">Profil</a>
                    {% endif %}
                    <a href="{{ url_for('projets') }}">projets</a>
                    <a href="{{ url_for('articles') }}">Articles</a>
                    <a href="{{ url_for('celebrites') }}">celebrites</a>
                    <a href="{{ url_for('login') }}">Login</a>
                    <a href="{{ url_for('register') }}">Register</a>
                </div>
            </div>
        </nav>
    </header>
    <hr>
    {% if current_user.is_authenticated %}
    <section class="user_name">
        <h1>Welcome, {{ current_user.email }}!</h1>
    </section>
    <hr>
    {% endif %}
    <main>
        {% block main %}{% endblock %}
    </main>
    <hr>
    <footer>
        <p>@ Louis Chatain</p>
        <p>github linkdin</p>
        <p>Thanks for visiting our website!</p>
    </footer>
</body>

</html>